<div class="iq-image">
    {% if lightbox == 'lightbox' %}
        <a href="{{image_img}}" data-toggle="{{lightbox}}-single-image" data-max-width="600" data-title="{{image_alt}}">
            <img src="{{image_img}}" title="{{image_title}}" alt="{{image_alt}}" />
        </a>
    {% else %}
        {% if href %}
        <a href="{{href}}" title="{{title_link}}" target="{{link_target}}" >
            <img src="{{image_img}}" title="{{image_title}}" alt="{{image_alt}}" />
        </a>
        {% else %}
            <img src="{{image_img}}" title="{{image_title}}" alt="{{image_alt}}" />
        {% endif %}
    {% endif %}
</div>
